body {
	min-width: 320px;
	max-width: 750px;
	margin: 0 auto;
	background-color: #f8f8f8;
	-webkit-tap-highlight-color:transparent;
	tap-highlight-color:transparent;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
@media screen and (min-width: 750px) {
	html {
		font-size: 37.5px !important;
	}
}
.scroll {
	overflow: hidden!important;
}